# RSudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rproj
*.Rproj

# setup files
MATH-250/setup.R
MATH-250/MATH_250.Rproj

# VSC connection
.vscode
bin
lib

# No need for actual data here
CSCI-250/Data/main/
CSCI-450/Data/main/

# Too large to store (links are provided in the README)
CSCI-450/Data/caltech-101.zip
CSCI-450/Data/oxford-flowers.tgz
CSCI-450/Data/playing-cards.zip
CSCI-450/Data/bloodcells.zip
CSCI-450/Blood-Cells/Data/
CSCI-450/Project-1/features-old/

# Repository Preview
LFC-Frame.jpg

## TA Materials
TA