#contact_form_wrapper {
	width: 600px;
}

#contact_form_wrapper * {
  /* The * selects everything inside the wrapper. */
	box-sizing: border-box;
}

#contact_form_wrapper label {
  display: block;
  text-align: left;
  padding: 5px;
  padding-left: 0px;
  width: 100px;
}

#contact_form_wrapper input {
	padding: 5px;
  width: 95%;
}

#contact_form_wrapper textarea {
  padding: 5px;
  width: 95%;
}

#contact_form_wrapper textarea:focus, #contact_form_wrapper input:focus {
  border: 2px solid #158cba;
}

#contact_form_wrapper button {
  background-color: #158cba;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 15px;
}

#contact_form_wrapper button:hover, #contact_form_wrapper button:active {
  background-color: #075e81;
  cursor: pointer;
}

.c50p_l {
  box-sizing: border-box;
  width: 50%;
  float: left; 
  padding-right: 12px;
} 

.c50p_r {
  box-sizing: border-box;
  width: 50%;
  float: left; 
  padding-left: 12px;
}