@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap') format('woff2');
}

body {
    font-family: 'Poppins', sans-serif;
}

a.btn {
    text-decoration: none;
    color: #0d6efd;
}

a.btn-d {
    text-decoration: none;
    color: #dc3545;
}

a.btn-s {
    text-decoration: none;
    color: #6c757d;
}

a.lnk {
    text-decoration: none;
    color: #191919;
}

a.lnk:hover {
    text-decoration: none;
    color: #0d6efd;
}

#active-tab {
    color: #0d6efd;
}
